@font-face {
  font-family: Kaushan;
  src: url(./Fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: Poppins-italic;
  src: url(./Fonts/Poppins/Poppins-Italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
