@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  padding: 8px;
  font-size: small;
  background-color: #facc15;
  border-color: rgb(253 224 71);
  border-radius: 5px;
}
.button:focus {
  outline: none;
}
.button:active {
  background-color: #eab308;
}

.input {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 5px;
}
.input:active {
  border: 1px solid #eab308;
}
/* 
@layer components {
  .button {
    @apply;
  }
} */
